@import "../style/colors";

div {
    // text-align: center;
    font-size: calc(8px + 1vmin);
}

.highlight {
    color: $accent;
    font-weight: 600;
}

.pagelink {
    color: $text-color;
    transition: color 150ms ease;
}

.pagelink:visited {
    color: $text-color;
}

.pagelink:hover {
    color: $navbar-active;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.Home {
    margin-left: 28%;
    margin-right: 28%;
    text-align: left;

    .introcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2%
    }

    h1 {
        color: $header-color;
    }
    
    p {
        color: $text-color;
        line-height: 2rem;
    }

    .me {
        border-radius: 20%;
        float: inline-end;
        margin-top: 3rem;
        margin-left: auto;
        border: 2px solid $navbar-color;
        transition: all 350ms ease;
    }

    .me:hover {
        border: 2px solid $accent;
        transform: scale(1.1);
    }

    .imagecontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pokemon {
        object-fit: cover;
        width: 24vw;
        height: 30vh;
        border: 2px solid $navbar-color;
        transition: all 350ms ease;
    }

    .pokemon:hover {
        border: 2px solid $accent;
        transform: scale(1.1);
    }

    .dacadence {
        object-fit: cover;
        width: 18vw;
        height: 30vh;
        border: 2px solid $navbar-color;
        transition: all 350ms ease;
    }

    .dacadence:hover {
        border: 2px solid $accent;
        transform: scale(1.1);
    }

    @for $i from 1 through 6 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 500ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 80}ms;
        }
    }

    li {
        margin: 1%;
    }

    li:hover {
        color: gray;
    }

    li:hover > a { 
        color: gray;
        transition: all 350ms ease;
    }

    // @for $i from 4 through 4 {
    //     & > *:nth-child(#{$i}) {
    //         opacity: 0;
    //         animation: fadeIn 500ms ease;
    //         animation-fill-mode: forwards;
    //         animation-delay: #{$i * 80}ms;
    //     }
    // }

    a {
        color: white;
        transition: color 150ms ease;
    }

    a:hover {
        color: $navbar-active;
    }
}

.About {
    margin-left: 28%;
    margin-right: 28%;
    text-align: left;

    h1 {
        color: $header-color;
    }

    p {
        color: $text-color;
        line-height: 2.6rem;
    }

    @for $i from 1 through 7 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 400ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 80}ms;
        }
    }
    
    & > div > a {
        color: $accent;
        text-decoration: none;
    }

    & > div > a:hover {
        color: $navbar-active;
    }

    & > div > a > * {
        height: 3rem;
    }

    & > div {
        text-align: left;
    }
}

.Projects {
    margin-left: 28%;
    margin-right: 28%;
    text-align: left;

    h1 {
        color: $header-color;
    }

    p {
        color: $text-color;
        line-height: 2.6rem;
    }

    a {
        color: $text-color;
        transition: color 150ms ease;
    }

    @for $i from 1 through 20 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 400ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 60}ms;
        }
    }
}

.Acappella {
    margin-left: 28%;
    margin-right: 28%;
    // text-align: left;

    h1 {
        color: $header-color;
    }
    
    p {
        color: $text-color;
        line-height: 2.6rem;
    }

    @for $i from 1 through 11 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 400ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 80}ms;
        }
    }

    .image-stack {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .dafam {
        object-fit: cover;
        width: 23vw;
        height: 35vh;
        border: 2px solid $navbar-color;
    }

    .dadudes {
        object-fit: cover;
        width: 20vw;
        height: 35vh;
        border: 2px solid $navbar-color;
    }

    .bottom-imgs {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .concert {
        object-fit: cover;
        height: 35vh;
        border: 2px solid $navbar-color;
    }

    .hoff {
        object-fit: cover;
        height: 35vh;
        width: 20vw;
        border: 2px solid $navbar-color;
    }

    .LinkButton {
        margin-top: 0.5rem;
    }
}