@import "../style/colors";

div {
    text-align: center;
    font-size: 1.5rem;
}

.highlight {
    color: $accent;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-30%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.About {
    margin-left: 28%;
    margin-right: 28%;
    text-align: left;

    h1 {
        color: $header-color;
    }

    p {
        color: $text-color;
        line-height: 3rem;
    }

    p > .pagelink {
        color: $text-color;
        transition: color 150ms ease;
    }

    p > .pagelink:visited {
        color: $text-color;
    }

    p > .pagelink:hover {
        color: $navbar-active;
    }

    @for $i from 1 through 7 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 500ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 80}ms;
        }
    }
    
    & > div > a {
        color: $accent;
        text-decoration: none;
    }

    & > div > a:hover {
        color: $navbar-active;
    }

    & > div > a > * {
        height: 3rem;
    }

    & > div {
        text-align: left;
    }
}

.Home {
    margin-left: 28%;
    margin-right: 28%;
    text-align: left;

    h1 {
        color: $header-color;
        text-align: left;
    }
    
    p {
        color: $text-color;
        line-height: 3rem;
    }

    img {
        border-radius: 50%;
        float: right;
        margin-top: 3rem;
        margin-right: 3rem;
    }

    @for $i from 1 through 7 {
        & > *:nth-child(#{$i}) {
          opacity: 0;
          animation: fadeIn 500ms ease;
          animation-fill-mode: forwards;
          animation-delay: #{$i * 80}ms;
        }
    }
}
