@import "../style/colors";

.LinkButton > a {
    background-color: $text-color;
    border: none;
    text-decoration: none;
    padding: 0.7rem 1.3rem;
    border-radius: 1.5rem;
}

.LinkButton > a {
    transition: all 350ms ease;
    font-size: 1.2rem;
}

.LinkButton > a:hover {
    background-color: $accent;
}

//resizes the icon and puts it in line
.linkicon > * {
    margin-bottom: -0.2rem;
    height: 1.5rem;
    width: 1.5rem;
}

.linktext, .linkicon {
    color: $navbar-active;
    font-weight: 1000;
}


