@import "../style/colors";

.LinkButton {

}

.LinkButton > a {
    color: $accent;
    background-color: $background-color;
    border: none;
    text-decoration: none;
}

.LinkButton > a {
    transition: all 350ms ease;
    font-size: 1.3rem;
}

.LinkButton > a:hover {
    color: $navbar-active;
}

.linkicon > * {
    margin-bottom: -0.2rem;
    height: 1.5rem;
    width: 1.5rem;
}
