@import "../style/colors";

footer {
    padding: 1rem;
    background-color: $background-color;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

footer > a {
    margin: 1rem;
}

.icons > a > * {
    height: 5%;
    width: 2rem;
    color: black;
    transition: all 350ms ease;
}

.icons > a > *:hover {
    color: white;
}