@import "../style/colors";

footer {
    // padding: 1rem;
    background-color: $background-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icons > a > * {
    height: 5%;
    width: 2rem;
    color: $text-color;
    transition: all 350ms ease;
}

.icons > a > *:hover {
    color: $navbar-active;
}

footer > p {
    color: $text-color;
}