@import "../style/colors";

footer {
    // padding: 1rem;
    background-color: $background-color;
    text-align: center;
    width: 100%; // Don't change
    margin-top: auto;
    padding-top: 3rem;


    @media (min-width: 768px) {
        #portraitfooter {
            display:none;
        }
    }

    @media (max-width: 768px) {
        #landscapefooter {
            display: none;
        }
    }
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icons > a > * {
    height: 5%;
    width: 2rem;
    color: $text-color;
    transition: all 350ms ease;
}

.icons > a > *:hover {
    color: $navbar-active;
}

footer > p {
    color: $text-color;
    font-size: 1rem;

    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}