@import "../style/colors";

.Main {
  background-color: $background-color;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}