.navbar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;
}

.normal {
    color: white;
    text-decoration: none;
}

.active {
    color: #7c98b3;
}

.option {
    font-size: 2rem;
    transition: all 350ms ease;
}

.option:hover {
    text-decoration-color: #7c98b3;
    text-decoration: underline;
}