.navbar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin: 1rem;
}

.normal {
    color: blue;
}

.active {
    color: red;
}

.navbar > .option {

}