@import "../style/colors";

.navbar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    padding: 1.5rem;
    background-color: $navbar-color;

    @media (max-width: 768px) {
        gap: 2.25rem;

    }
}

.normal {
    color: $text-color;
    text-decoration: none;
}

.active {
    color: $navbar-active;
    // border-bottom: 3px solid $text-color;
}

.option {
    font-size: 2rem;
    transition: color 350ms ease;
    text-decoration: none;
    font-size: 1rem;
}

.option:hover {
    color: $navbar-active;
}